startup --host_jvm_args=-Xmx2500m
startup --host_jvm_args=-Xms2500m

test --test_output=errors

# envs for stamping
build --workspace_status_command=./tools/workspace-status.sh

https://github.com/bazelbuild/rules_docker/issues/1716
build --incompatible_restrict_string_escapes=false

run --workspace_status_command=./tools/workspace-status.sh

https://github.com/bazelbuild/rules_docker/issues/1716
run --incompatible_restrict_string_escapes=false
